.btn {
    display: inline-block;
    color: #fff;
    border: none;
    padding: 20px 30px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
  }
  
  .btn:focus {
    outline: none;
  }
  
  .btn:active {
    transform: scale(0.98);
  }
  
  .btn-block {
    display: block;
    width: 100%;
  }

  .primary { background-color: #008CBA; }
  .secondary { background-color: #e7e7e7; color: black; }
  .success { background-color: #4CAF50; }
  .danger { background-color: #f44336; }